.git
.github
__pycache__
*.pyc
.pytest_cache
.coverage
build
reports
tests
k8s
screenshots
outputs
*.md
*.tar
*.tar.gz
.gitleaks.toml
.semgrep
bandit.yaml
trivy.yaml
.trivyignore
requirements-*.txt
pytest.ini
